/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-mag-2017, 15.27.03
    Author     : federicosantomero
*/
.navbar-admin {
  background-color: #e95420;
  border-color: #d34615;
}
.navbar-admin .navbar-brand {
  color: #ffffff;
}
.navbar-admin .navbar-brand:hover,
.navbar-admin .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar-admin .navbar-text {
  color: #ffffff;
}
.navbar-admin .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-admin .navbar-nav > li > a:hover,
.navbar-admin .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #ac3911;
}
.navbar-admin .navbar-nav > .active > a,
.navbar-admin .navbar-nav > .active > a:hover,
.navbar-admin .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #c34113;
}
.navbar-admin .navbar-nav > .disabled > a,
.navbar-admin .navbar-nav > .disabled > a:hover,
.navbar-admin .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-admin .navbar-toggle {
  border-color: #ac3911;
}
.navbar-admin .navbar-toggle:hover,
.navbar-admin .navbar-toggle:focus {
  background-color: #ac3911;
}
.navbar-admin .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-admin .navbar-collapse,
.navbar-admin .navbar-form {
  border-color: #d34615;
}
.navbar-admin .navbar-nav > .open > a,
.navbar-admin .navbar-nav > .open > a:hover,
.navbar-admin .navbar-nav > .open > a:focus {
  background-color: #c34113;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-admin .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-admin .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-admin .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #ac3911;
  }
  .navbar-admin .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-admin .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-admin .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #c34113;
  }
  .navbar-admin .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-admin .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-admin .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-admin .navbar-link {
  color: #ffffff;
}
.navbar-admin .navbar-link:hover {
  color: #ffffff;
}
.navbar-admin .btn-link {
  color: #ffffff;
}
.navbar-admin .btn-link:hover,
.navbar-admin .btn-link:focus {
  color: #ffffff;
}
.navbar-admin .btn-link[disabled]:hover,
fieldset[disabled] .navbar-admin .btn-link:hover,
.navbar-admin .btn-link[disabled]:focus,
fieldset[disabled] .navbar-admin .btn-link:focus {
  color: #cccccc;
}
.navbar-pro {
  background-color: #2fa4e7;
  border-color: #1995dc;
}
.navbar-pro .navbar-brand {
  color: #ffffff;
}
.navbar-pro .navbar-brand:hover,
.navbar-pro .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar-pro .navbar-text {
  color: #dddddd;
}
.navbar-pro .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-pro .navbar-nav > li > a:hover,
.navbar-pro .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #178acc;
}
.navbar-pro .navbar-nav > .active > a,
.navbar-pro .navbar-nav > .active > a:hover,
.navbar-pro .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #178acc;
}
.navbar-pro .navbar-nav > .disabled > a,
.navbar-pro .navbar-nav > .disabled > a:hover,
.navbar-pro .navbar-nav > .disabled > a:focus {
  color: #dddddd;
  background-color: transparent;
}
.navbar-pro .navbar-toggle {
  border-color: #178acc;
}
.navbar-pro .navbar-toggle:hover,
.navbar-pro .navbar-toggle:focus {
  background-color: #178acc;
}
.navbar-pro .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-pro .navbar-collapse,
.navbar-pro .navbar-form {
  border-color: #1995dc;
}
.navbar-pro .navbar-nav > .open > a,
.navbar-pro .navbar-nav > .open > a:hover,
.navbar-pro .navbar-nav > .open > a:focus {
  background-color: #178acc;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-pro .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-pro .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-pro .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #178acc;
  }
  .navbar-pro .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-pro .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-pro .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #178acc;
  }
  .navbar-pro .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-pro .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-pro .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #dddddd;
    background-color: transparent;
  }
}
.navbar-pro .navbar-link {
  color: #ffffff;
}
.navbar-pro .navbar-link:hover {
  color: #ffffff;
}
.navbar-pro .btn-link {
  color: #ffffff;
}
.navbar-pro .btn-link:hover,
.navbar-pro .btn-link:focus {
  color: #ffffff;
}
.navbar-pro .btn-link[disabled]:hover,
fieldset[disabled] .navbar-pro .btn-link:hover,
.navbar-pro .btn-link[disabled]:focus,
fieldset[disabled] .navbar-pro .btn-link:focus {
  color: #dddddd;
}
.navbar-mod {
  background-color: #033c73;
  border-color: #022f5a;
}
.navbar-mod .navbar-brand {
  color: #ffffff;
}
.navbar-mod .navbar-brand:hover,
.navbar-mod .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.navbar-mod .navbar-text {
  color: #ffffff;
}
.navbar-mod .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-mod .navbar-nav > li > a:hover,
.navbar-mod .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #022f5a;
}
.navbar-mod .navbar-nav > .active > a,
.navbar-mod .navbar-nav > .active > a:hover,
.navbar-mod .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #022f5a;
}
.navbar-mod .navbar-nav > .disabled > a,
.navbar-mod .navbar-nav > .disabled > a:hover,
.navbar-mod .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-mod .navbar-toggle {
  border-color: #022f5a;
}
.navbar-mod .navbar-toggle:hover,
.navbar-mod .navbar-toggle:focus {
  background-color: #022f5a;
}
.navbar-mod .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-mod .navbar-collapse,
.navbar-mod .navbar-form {
  border-color: #022a50;
}
.navbar-mod .navbar-nav > .open > a,
.navbar-mod .navbar-nav > .open > a:hover,
.navbar-mod .navbar-nav > .open > a:focus {
  background-color: #022f5a;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-mod .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #022f5a;
  }
  .navbar-mod .navbar-nav .open .dropdown-menu .divider {
    background-color: #022f5a;
  }
  .navbar-mod .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-mod .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-mod .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #022f5a;
  }
  .navbar-mod .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-mod .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-mod .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #022f5a;
  }
  .navbar-mod .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-mod .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-mod .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-mod .navbar-link {
  color: #ffffff;
}
.navbar-mod .navbar-link:hover {
  color: #ffffff;
}
.navbar-mod .btn-link {
  color: #ffffff;
}
.navbar-mod .btn-link:hover,
.navbar-mod .btn-link:focus {
  color: #ffffff;
}
.navbar-mod .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mod .btn-link:hover,
.navbar-mod .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mod .btn-link:focus {
  color: #cccccc;
}
.navbar-guest {
  background-color: #446e9b;
  border-color: #345578;
}
.navbar-guest .navbar-brand {
  color: #dddddd;
}
.navbar-guest .navbar-brand:hover,
.navbar-guest .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-guest .navbar-text {
  color: #dddddd;
}
.navbar-guest .navbar-nav > li > a {
  color: #dddddd;
}
.navbar-guest .navbar-nav > li > a:hover,
.navbar-guest .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-guest .navbar-nav > .active > a,
.navbar-guest .navbar-nav > .active > a:hover,
.navbar-guest .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-guest .navbar-nav > .disabled > a,
.navbar-guest .navbar-nav > .disabled > a:hover,
.navbar-guest .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-guest .navbar-toggle {
  border-color: #345578;
}
.navbar-guest .navbar-toggle:hover,
.navbar-guest .navbar-toggle:focus {
  background-color: #345578;
}
.navbar-guest .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-guest .navbar-collapse,
.navbar-guest .navbar-form {
  border-color: #395c82;
}
.navbar-guest .navbar-nav > .open > a,
.navbar-guest .navbar-nav > .open > a:hover,
.navbar-guest .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-guest .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #345578;
  }
  .navbar-guest .navbar-nav .open .dropdown-menu .divider {
    background-color: #345578;
  }
  .navbar-guest .navbar-nav .open .dropdown-menu > li > a {
    color: #dddddd;
  }
  .navbar-guest .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-guest .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-guest .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-guest .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-guest .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-guest .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-guest .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-guest .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-guest .navbar-link {
  color: #dddddd;
}
.navbar-guest .navbar-link:hover {
  color: #ffffff;
}
.navbar-guest .btn-link {
  color: #dddddd;
}
.navbar-guest .btn-link:hover,
.navbar-guest .btn-link:focus {
  color: #ffffff;
}
.navbar-guest .btn-link[disabled]:hover,
fieldset[disabled] .navbar-guest .btn-link:hover,
.navbar-guest .btn-link[disabled]:focus,
fieldset[disabled] .navbar-guest .btn-link:focus {
  color: #cccccc;
}
.navbar-banned {
  background-color: #00bc8c;
  border-color: transparent;
}
.navbar-banned .navbar-brand {
  color: #ffffff;
}
.navbar-banned .navbar-brand:hover,
.navbar-banned .navbar-brand:focus {
  color: #375a7f;
  background-color: transparent;
}
.navbar-banned .navbar-text {
  color: #ffffff;
}
.navbar-banned .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-banned .navbar-nav > li > a:hover,
.navbar-banned .navbar-nav > li > a:focus {
  color: #375a7f;
  background-color: transparent;
}
.navbar-banned .navbar-nav > .active > a,
.navbar-banned .navbar-nav > .active > a:hover,
.navbar-banned .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00a379;
}
.navbar-banned .navbar-nav > .disabled > a,
.navbar-banned .navbar-nav > .disabled > a:hover,
.navbar-banned .navbar-nav > .disabled > a:focus {
  color: #aaaaaa;
  background-color: transparent;
}
.navbar-banned .navbar-toggle {
  border-color: #008966;
}
.navbar-banned .navbar-toggle:hover,
.navbar-banned .navbar-toggle:focus {
  background-color: #008966;
}
.navbar-banned .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-banned .navbar-collapse,
.navbar-banned .navbar-form {
  border-color: #009871;
}
.navbar-banned .navbar-nav > .open > a,
.navbar-banned .navbar-nav > .open > a:hover,
.navbar-banned .navbar-nav > .open > a:focus {
  background-color: #00a379;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-banned .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-banned .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-banned .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-banned .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-banned .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #375a7f;
    background-color: transparent;
  }
  .navbar-banned .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-banned .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-banned .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #00a379;
  }
  .navbar-banned .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-banned .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-banned .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #aaaaaa;
    background-color: transparent;
  }
}
.navbar-banned .navbar-link {
  color: #ffffff;
}
.navbar-banned .navbar-link:hover {
  color: #375a7f;
}
.navbar-banned .btn-link {
  color: #ffffff;
}
.navbar-banned .btn-link:hover,
.navbar-banned .btn-link:focus {
  color: #375a7f;
}
.navbar-banned .btn-link[disabled]:hover,
fieldset[disabled] .navbar-banned .btn-link:hover,
.navbar-banned .btn-link[disabled]:focus,
fieldset[disabled] .navbar-banned .btn-link:focus {
  color: #aaaaaa;
}
.navbar-standard {
  background-color: #375a7f;
  border-color: transparent;
}
.navbar-standard .navbar-brand {
  color: #ffffff;
}
.navbar-standard .navbar-brand:hover,
.navbar-standard .navbar-brand:focus {
  color: #00bc8c;
  background-color: transparent;
}
.navbar-standard .navbar-text {
  color: #ffffff;
}
.navbar-standard .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-standard .navbar-nav > li > a:hover,
.navbar-standard .navbar-nav > li > a:focus {
  color: #00bc8c;
  background-color: transparent;
}
.navbar-standard .navbar-nav > .active > a,
.navbar-standard .navbar-nav > .active > a:hover,
.navbar-standard .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #28415b;
}
.navbar-standard .navbar-nav > .disabled > a,
.navbar-standard .navbar-nav > .disabled > a:hover,
.navbar-standard .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-standard .navbar-toggle {
  border-color: #28415b;
}
.navbar-standard .navbar-toggle:hover,
.navbar-standard .navbar-toggle:focus {
  background-color: #28415b;
}
.navbar-standard .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-standard .navbar-collapse,
.navbar-standard .navbar-form {
  border-color: transparent;
}
.navbar-standard .navbar-nav > .open > a,
.navbar-standard .navbar-nav > .open > a:hover,
.navbar-standard .navbar-nav > .open > a:focus {
  background-color: #28415b;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-standard .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-standard .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-standard .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00bc8c;
    background-color: transparent;
  }
  .navbar-standard .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-standard .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-standard .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #28415b;
  }
  .navbar-standard .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-standard .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-standard .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-standard .navbar-link {
  color: #ffffff;
}
.navbar-standard .navbar-link:hover {
  color: #00bc8c;
}
.navbar-standard .btn-link {
  color: #ffffff;
}
.navbar-standard .btn-link:hover,
.navbar-standard .btn-link:focus {
  color: #00bc8c;
}
.navbar-standard .btn-link[disabled]:hover,
fieldset[disabled] .navbar-standard .btn-link:hover,
.navbar-standard .btn-link[disabled]:focus,
fieldset[disabled] .navbar-standard .btn-link:focus {
  color: #cccccc;
}
